<li>
	{{name}}

	<button class="change-devor" data-id="{{id}}" data-newdevor="{{devor}}">
		{{#if devor}}{{else}}Save for Later{{/if}}
	</button>	

	<button class="delete-burger" data-id="{{this.id}}">Devor!</button>
</li>